<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>代码</title>
</head>
<body style="background-image: url('../vue/static/images/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;">

    <div id="app">
        <el-menu
            class="el-menu-demo"
            mode="horizontal"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
            <el-menu-item index="1" style="pointer-events: none;">MyCode</el-menu-item>
            <el-submenu index="2">
            <template slot="title">我的工作台</template>
            <el-menu-item index="2-1" @click="addcode()">添加代码</el-menu-item>
            <el-menu-item index="2-2" @click="codelist()">代码列表</el-menu-item>
            <el-menu-item index="2-3" @click="runcode()">在线运行</el-menu-item>
            </el-submenu>
            <el-menu-item index="3" @click="allcodes()">代码</el-menu-item>
            <el-menu-item index="4" @click="getallusers()">用户列表</el-menu-item>
            <el-menu-item index="5" style="pointer-events:none;">讨论</el-menu-item>
            <el-submenu index="6" style="margin-left:60%;">
                <template slot="title">{{ username }}</template>
                <el-menu-item index="3-1" @click="logout()">退出登录</el-menu-item>
                <el-menu-item index="3-2" @click="update_user()">修改信息</el-menu-item>
            </el-submenu>
        </el-menu>

            <div style="padding-top: 2%; 
            display: flex;
            justify-content: center; 
            align-items: center;
            ">
                <el-card class="box-card" style="width: 60%; background-color: rgba(255, 255, 255, 0.5); border: none;">
                    <div style="display: flex; justify-content: flex-end; align-items: center;">
                        <el-input
                            placeholder="请输入查找内容"
                            v-model="search_id"
                            style="width: 30%;"
                        >
                            <i slot="prefix" class="el-input__icon el-icon-search"></i>
                        </el-input>
                        <el-button icon="el-icon-search" circle style="margin-left: 1%;" @click="search()"></el-button>
                        <el-button type="info" icon="el-icon-message" circle @click="add_dialogVisible = true;"></el-button>
                    </div>
                    <p></p>
                    <el-card
                    v-for="c in commits"
                    style="width: 100%; border-radius: 10px;margin-top: 2%;"
                    :header-cell-style="{background:'#eef1f6',color:'#606266'}"
                    >
                    <div style="display: flex;align-items: center;">
                        <div style="width: 80%;">
                           {{c.context}}
                        </div>
                        <div v-if="c.userId == userid">
                            <el-button type="primary" icon="el-icon-edit" circle @click="modify_dialogVisible = true;modifyform_id(c);"></el-button>
                            <el-button type="danger" icon="el-icon-delete" circle @click="delete_commit(c.commitId);"></el-button>
                        </div>
                    </div>
                    </el-card>
                </el-card>
            </div>

            <el-dialog
                :visible.sync="add_dialogVisible"
                width="50%"
                :before-close="handleClose">
                <el-form ref="form" :model="form" :rules="rules" label-width="80px" class="demo-ruleForm">
                    <el-form-item label="内容" prop="context">
                      <el-input v-model="form.context"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="add_dialogVisible = false;">取 消</el-button>
                    <el-button type="primary" @click="addCommit(form);">添加</el-button>
                </span>
            </el-dialog>

            <el-dialog
                :visible.sync="modify_dialogVisible"
                width="50%"
                :before-close="handleClose">
                <el-form ref="modifyform" :model="modifyform" :rules="rules" label-width="80px" class="demo-ruleForm">
                    <el-form-item label="内容" prop="context">
                      <el-input v-model="modifyform.context"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="modify_dialogVisible = false;">取 消</el-button>
                    <el-button type="primary" @click="modify_commit(modifyform);">修 改</el-button>
                </span>
            </el-dialog>


    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script>
            axios.defaults.withCredentials = true;
            new Vue({
                el:'#app',
                data:{
                    commits:{
                        commitId:null,
                        context:'',
                        userId:'',
                    },
                    form:{
                        commitId:null,
                        context:'',
                    },
                    modifyform:{
                        commitId:null,
                        context:'',
                    },
                    rules: 
                    {
                        context: [{
                            required: true,
                            message: '内容不能为空',
                            trigger: 'blur'
                        }
                        ],
                    },
                    add_dialogVisible: false,
                    modify_dialogVisible:false,
                    username:'',
                    userid:null,
                    search_id:'',
                },
                methods:{
                    show(){
                        axios.get('http://localhost:8000/commit/all').then(res => {
                                if (res.data.isOk) {
                                    this.commits = res.data.commits;
                                    console.log(res.data.commits);
                                }
                                else 
                                {
                                    alert(res.data.msg);
                                    location.href="login.html";
                                }
                            })
                        },
                        modify_commit(modifyform) {
                            this.$refs.modifyform.validate((valid) => {
                                if(valid){
                                    if(!confirm('是否修改')){
                                        return;
                                    }
                                    let fd = new FormData();
                                    fd.append('commitId' , modifyform.commitId);
                                    fd.append('context',modifyform.context);
                                    axios.post('http://localhost:8000/commit/update' , fd ).then(res =>{
                                        alert(res.data.msg);
                                    });
                                    modify_dialogVisible = false;
                                    location.reload();
                                }
                                else {
                                    alert("请填写完整");    
                                    return false;
                                }
                            });
                        },
                        modifyform_id(commit){
                            this.modifyform = JSON.parse(JSON.stringify(commit));
                        },
                        addCommit()
                        {
                            this.$refs.form.validate((valid) => {
                                if(valid){
                                    let fd = new FormData();
                                    fd.append('context',this.form.context);
                                    axios.post('http://localhost:8000/commit/add' , fd ).then(res =>{
                                        alert(res.data.msg);
                                    });
                                    this.add_dialogVisible = false;
                                    location.reload();
                                }
                                else {
                                    alert("请填写完整");    
                                    return false;
                                }
                            });
                        },
                        addcode(){
                            location.href='add.html';
                        },
                        runcode(){
                            location.href='runcode.html';
                        },
                        logout(){
                            axios.get('http://localhost:8000/user/logout').then(res =>{
                                alert(res.data.msg);
                                location.href = "login.html";
                            })
                        },
                        update_user(){
                            location.href = "userinfo.html";
                        },
                        search(){
                            if(this.search_id === '')
                            {
                                this.show();
                                return;
                            }
                            let fd = new FormData();
                            fd.append('context', this.search_id);
                            axios.post('http://localhost:8000/commit/search' , fd).then(res => {
                                if (res.data.isOk) {
                                    this.commits = res.data.commits;
                                }
                            });
                        },
                        delete_commit(commitId) {
                            if (!confirm('是否删除')) {
                                return;
                            }
                            axios.get('http://localhost:8000/commit/del', { params: { commitId } }).then(res => {
                                alert(res.data.msg);
                                this.show();
                            })
                        },
                        allcodes(){
                            location.href = "allcodelist.html";
                        },
                        codelist() {
                            location.href = 'codelist.html';
                        },
                        getallusers(){
                            location.href = "userlist.html";
                        },
                        handleClose(done) {
                            this.$confirm('确认关闭？')
                            .then(_ => {
                                done();
                            })
                            .catch(_ => {});
                        },
                    },
                    created(){
                    axios.get('http://localhost:8000/user/islogin').then(res => {
                        if (!res.data.isOk)
                        {
                            alert(res.data.msg);
                            location.href="login.html";
                        }
                        else{
                            this.username = res.data.username;
                            this.userid = res.data.userId;
                        }
                    })
                    this.show();
                }
            })
        </script>
    </body>
</html>